<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<meta name="google-site-verification" content="A-u8rFKOS1V5b4UqTTwG73-naPGP6UaumbUyMLRMF-A">
	<meta name="description" content="Michael Zürcher, Programmierer und IT-Experte, Erfahrung mit Unterhalt und Fehlersuche in IT-Netzwerken, Programmierung von Applikationsservern (J2EE), Webdesign (JavaScript/Vue), Email, Hosting und Enduser-Support">
	<meta name="keywords" content="Michael Zürcher, Programmierer, IT-Experte, Java, J2EE, Javascript, Vue">
	<meta property="og:title" content="Michael Zürcher, Programmierer und IT-Experte">
	<meta property="og:type" content="Website">
	<meta property="og:url" content="https://github.io/michzuerch">
	<meta property="og:image" content="">
	<meta property="og:description" content="Michael Zürcher, Programmierer und IT-Experte">
	<title>Michael Zürcher, Programmierer und IT-Experte</title>
	<script type='application/ld+json'>
    {
        "@context": "http://www.schema.org",
        "@type": "person",
        "name": "Michael Zürcher",
        "description": "Java-Programmierer und IT-Experte",
        "jobTitle": "Coder",
        "gender": "male",
        "url": "https://michzuerch.github.io",
        "image": "https://michzuerch.github.io/img/gallery/Portrait1-cut.jpg",
        "address": {
            "@type": "PostalAddress",
            "addressCountry": "Europe"
        },
        "email": "michzuerch@gmail.com",
        "birthDate": "1971-05-07",
        "nationality": "Switzerland",
        "telephone": "+49 178 660 86 38"
    }
	</script>
	<link rel="icon" href="<%= BASE_URL %>favicon.ico">
	<link rel="alternate" href="https://michzuerch.github.io" hreflang="de" />
	<link rel="alternate" href="https://michzuerch.github.io" hreflang="x-default" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
	<link rel="canonical" href="https://github.io/michzuerch" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
</head>

<body>
	<noscript>
		<strong>We're sorry but michzuerch.github.io doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
	</noscript>
	<div id="app"></div>
	<!-- built files will be auto injected -->
</body>

</html>